@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Course

@{
    var routeData = new Dictionary<string, string>
    {
        {"id", Model.Id.ToString()}

    };}




<table class="table table-borderd table-hover">
    <tr>
        <th>Name</th>
        <th>Min Degree</th>
        <th>Degree</th>
    </tr>

    

        <tr>

            <td>@Model.Name</td>
            <td>@Model.MinDegree</td>
            <td>@Model.Degree</td>

            
        </tr>

   
    

</table>
<a asp-action="Delete" class="btn btn-danger" asp-all-route-data="routeData">Delete</a>